* {
    margin: 0;
}

body {
    background-image: url(./27852395.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
 
}

h1 {
    text-align: center;
    padding: 20px;
    font-weight: 800;
    font-size: xx-large;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#info{

  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  border: 10px dashed rgb(65, 17, 65);
  border-radius: 20px;
  height: 30vh;
  width: 80vh;
  margin-bottom: 20px;
  color: white;
  font-size: xxx-large;
  font-weight: 600;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(226,211,211,0.10968137254901966) 100%);

}

#submit {
    border-radius: 20px;
    background-color: rgb(249, 248, 249);
    padding: 14px 34px;
    font-size: 20px;
    align-items: center;
    color: white;
    gap: 100px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(226,211,211,0.10968137254901966) 100%);
}

.link {
    font-size: xx-large;
    margin: 20px;
    padding: 20px;
    color: white;
}